body {
    margin: 0;
    background-color: #F4EDFF !important;
}

.container {
    min-height: 100vh;
    background-color: #F4EDFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#endScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
#endScreen p {
    margin-top: 32px;
    font-size: 40px;
    font-weight: 700;
}

#endScreen span {
    font-size: 24px;
    font-weight: 600;
}
.span_margin {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 8px;
    margin-right: 8px;
}

#endScreen img {
    height: 192px;
    width: auto;
}

.quiz_card {
     width: 35rem;
}

.card-title {
    margin-left: 8px;
}

.quiz_answer_card:hover {
    cursor: pointer;
    background-color: #F4EDFF; 
}

.bg-success, .bg-danger {
   color: white !important; 
}

.question_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.count {
    margin-left: 8px;
}

.next_question {
    margin-right: 8px;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

@media(max-width:450px) {
    #endScreen img {
        height: 128px;
        width: auto;
    }
    #endScreen span {
        font-size: 20px;
    }
    #endScreen p {
        
        font-size: 32px;
        font-weight: 700;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    h5 {
        text-align: center;
    }
}